<%- if controller_name != 'sessions' %>
<div class="input-field col s6 m6 l6">
  <%= link_to "Entrar", new_session_path(resource_name) %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div class="input-field col s6 m6 l6">
   <p class="margin medium-small"> <%= link_to "Inscrever-se", new_registration_path(resource_name) %></p>
   </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<div class="input-field col s6 m6 l6">
  <p class="margin right-align medium-small"> <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %></p>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<div class="input-field col s6 m6 l6">
  <%= link_to "Não recebeu instruções de confirmação?", new_confirmation_path(resource_name) %>
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<div class="input-field col s6 m6 l6">
  <%= link_to "Não recebeu instruções de desbloqueio?", new_unlock_path(resource_name) %>
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
  <% end %>
<% end %>
